* {
  box-sizing: border-box;
}
/* common code for pages */

.contentWrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #e8f5fd;
}
.Header {
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e8f5fd;
  padding: 10px 55px;
}
.Heading {
  padding: 0;
  margin: 0;
  font-size: 40px;
  font-style: normal;
  font-weight: bold;
  line-height: 84px;
  text-align: left;
}
.add {
  text-decoration: none;
  background: rgba(90, 123, 255, .95);
  border-radius: 17px;
  color: #fff;
  padding: 15px 54px;
  transition:transform .5s, background .5s;
}
.add:hover{
  background: rgba(90, 123, 255, 1);
  transform:scale(1.02);
}
.addIcon{
  margin-left:10px;
}
.blogWrapper {
  background: #f4fbff;
  height: 85%;
  border-radius: 40px 40px 0 0;
  box-shadow: 0px 1px 51px 14px rgba(0, 0, 0, 0.05);
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  overflow-y:scroll;
}

.blogWrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

.blogWrapper::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

.blogWrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.4);
  border-radius:15px;
}

.cHeader {
  height: 12%;
  background-color: #e8f5fd;
  display: flex;
  align-items: center;
  padding: 40px;
}

/* style for new blog  */
.new {
  font-size: 40px;
  margin-left: 16px;
}
.cFooter {
  height: 88%;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 55px 55px;
  align-content: space-between;
  justify-content: space-around;
  flex-direction: column;
}
.Title {
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgba(32, 76, 141, 0.4);
  padding: 15px;
  font-size:25px;
  font-weight:500;
}
.inp {
  height: 50%;
  width: 100%;
  resize: none;
  padding: 15px;
  font-size:25px;
  font-weight:500;
  border-radius: 12px;
  border: 1px solid rgba(32, 76, 141, 0.4);
  font-size: 25px;
}

.inp:focus-visible, .Title:focus-visible{
  outline:none;
  border: 1px solid rgba(32, 76, 141, 0.7);
}
.createBtnDisabled {
  background: rgba(90, 123, 255, .4);
  color: #fff;
  border:none;
  border-radius: 17px;
  padding: 14px 36px;
  font-size: 20px;
  align-self: flex-end;
}
.createBtn{
  background: rgba(90, 123, 255, .95);
  color: #fff;
  border:none;
  border-radius: 17px;
  padding: 14px 36px;
  font-size: 20px;
  align-self: flex-end;
  transition:transform .5s, background .5s;
}
.createBtn:hover{
  background: rgba(90, 123, 255, 1);
  transform:scale(1.02);
}
.backBtn {
  text-decoration: none;
  font-size:30px;
  color:black;
}
