.contentWrapper {
  width: 100vw;
  height: 100vh;
}
.Header {
  height: 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e8f5fd;
  padding: 10px 55px;
}
.Heading {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: bold;
  line-height: 84px;
  text-align: left;
}
.add {
  text-decoration: none;
  background-color: #5a7bff;
  border-radius: 17px;
  color: #fff;
  padding: 15px 54px;
}
.blogWrapper {
  background: #f4fbff;
  height: 88%;
  border-radius: 12px;
  padding: 50px;
}

.cHeader {
  height: 12%;
  background-color: #e8f5fd;
}

/* style for new blog  */
.new {
  font-family: Roboto;
  font-size: 40px;
}
